@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    background-color: #F4F5F7;
}

.App{
    height: 100vh;
   
}

.header{
    margin:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#twitter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

#slack{
    visibility: hidden;
}
#profile__img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    margin: 50px 0; 

}
.btn{
    background-color: #EAECF0;
    border:1px solid #EAECF0;
    height: 76px;
    width: 1152px;
    border-radius: 8px;
    Padding :24px 32px;
    color: #101828;
    cursor: pointer;
    transition: 0.1s ease;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.btn:hover{
    transform: scale(1.08);
}

.logoContainer{
    display: flex;
    gap: 25px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

p{
    color:#667085;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}